
.button {
  margin: 2em;
  padding: 1em 2em;
  border-radius: 5px;
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav_link {
  padding: 0 1em;
  text-transform: uppercase;
  font-weight: 800;
}

.active {
  box-shadow: 0 0 5px var(--lightgreen);
  border-radius: 3px;
}

.lost_in_space {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.list {
  padding-top: 1em;
  padding-bottom: 2em;
}

.list_item_name {
  color: var(--background-color);
  font-weight: 800;
  font-size: x-large;
  letter-spacing: 2px;
  padding: 0.7em;
}

.list_item_area {
  max-width: 78%;
  padding: 0 11%;
}

@media (min-width: 760px) {
  .list_item_area {
    max-width: 64%;
    padding: 0 18%;
  }

  .nav_links {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .list_item_area {
    max-width: 48%;
    padding: 0 26%;
  }
}
